/* src/components/common/CategoryBadge.module.css */

.badge {
  display: inline-flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
}

.notice {
  background-color: #d9544f40; 
  color: #D9534F;
}

.free {
  background-color: #3ba97b40; 
  color: #3BA97B;
}

.horror {
  background-color: #00000040; 
  color: #000000;
}

.humor {
  background-color: #e6b74940; 
  color: #E6B649;
}

.chat {
  background-color: #D6CCF8; 
  color: #5B4BA6;
}

@media (prefers-color-scheme: dark){
  .horror{
    background-color: #c3c3c340;
    color: #C3C3C3;
  }
}


