/* BoardList */
.boardSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #2C56A6;
}

/* BoardListHeader */
.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5073B5;
    height: 60px;
    gap: 12px;
    padding:  0px 20px;
}

.leftArea {
    display: flex;
    align-items: center;
    margin-top: 15px;
    align-self: flex-end;
}

.categoryTabs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.categoryTab {
    padding: 10px 12px 8px 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #FFFFFF;
}

.active {
    background-color: #F5F7FA;
    color: #3A6DCC;
}


/* PostList */
.listArea{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rightArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.sortArea {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0 4px;
  font-size: 15px;
}

.sortButton {
  border: none;
  background: transparent;
  padding: 4px 8px;
  cursor: pointer;
  color: #798DB4;
}

.sortButtonActive {
  color: #3D69B0;
  font-weight: 600;
  border-bottom: 3px solid #3D69B0;
}

.writeButton {
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    background-color: #E2E8F0;
    color: #3D69B0;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.empty {
    padding: 40px 16px;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    border: 1px dashed #ABBBDB;
    background-color: #FFFFFF;
}

/* PostList */
.item {
    display: flex;
    gap: 12px;
    padding: 12px 10px;
    border-radius: 15px;
    border: 3px solid #ABBBDB;
    background-color: #FFFFFF;
    cursor: pointer;
}

.thumbnailWrapper {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #ABBBDB;
}

.thumbnailWrapperImg{
    width: 72px;
    height: 72px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 10px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meta {
    display: flex;
    gap: 5px;
    align-items: end;
}

.title{
    font-size: 18px;
    font-weight: 900;
    color: #3D69B0;
}

.createdAt,
.userid{
    font-size: 12px;
    color: #798DB4;
    font-weight: 500;
}


.bottomRow {
    display: flex;
    gap: 12px;
    font-size: 12px;
    color: #798DB4;
}

.stat {
    display: inline-flex;
}

@media (prefers-color-scheme: dark) {
    .headerWrapper {
        background-color: #000000;
    }   
    .boardSection {
        color: #E7EFFC;
    }

    .categoryTab {
        color: #6CA9FF;
    }

    .active {
        background-color: #1E293B;
        color: #FFFFFF;
    }

    .sortButtonActive {
        color: #ffffff;
        border-bottom: 3px solid #ffffff;
    }

    .writeButton {
        background-color: #35476E;
        color: #FFFFFF;
    }

    .empty {
        border-color: #2C56A6;
        background-color: #0F172A;
        color: #E7EFFC;
    }

    .item {
        border-color: #2C56A6;
        background-color: #0F172A;
        border: 3px solid #1B305B;
    }

    .title{
        font-size: 18px;
        color: #6CA9FF;
    }

    .createdAt,
    .userid{
        color: #798DB4;
    }

    .bottomRow {
        color: #ffffff;
    }

    .thumbnailWrapper{
        background-color: #1E325C;
    }
}
