/* layout */
.appWrapper {
    background-color: #F5F7FA; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main {
    max-width: 1280px;
    min-width : 1220px;
    margin: auto;
}
.contentContainer {
    margin: 0 auto;
}



/* header */
.header{
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    height: 70px;

    padding: 10px 20px;
    background-color: #2C56A6;
    box-shadow: 0 2px 6px rgba(44, 86, 166, 0.05);
}

.logoArea{
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}
.logoText{
    font-size: 30px;
    font-weight: 900;
    color: #6CA9FF;
}

.searchArea {
    flex:1;
    min-width: 100px;
    max-width: 1000px;
}
.searchInput {
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 3px solid #5073B5;
    background-color: #FFFFFF;
    color: #2C56A6;
    font-size: 14px;
}
.searchInput::placeholder {
    color: #798DB4;
}

.rightArea {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0; 
}

.userInfo {
  font-size: 15px;
  color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    .appWrapper {
        background-color: #1E293B;
    }
    .header {
        background-color: #0F172A;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    }
    .logoText {
        color: #6CA9FF;
    }
    .searchInput {
        border-color: #1B305B;
        background-color: #1E293B;
        color: #E7EFFC;
    }
    .searchInput::placeholder {
        color: #798DB4;
    }
    .iconButton {
        color: #E7EFFC;
    }
    .userInfo {
        color: #4C7FFF;
    }
}