.form {
  display: flex;
  gap:30px;
  height: 50px;
  justify-content: center;
}

.textarea {
  padding: 8px 10px;
  border-radius: 5px;
  border: 3px solid #B9C7E1;
  resize: none;
  font-size: 15px;
  color: #2C56A6;
  min-width: 800px;
}

.textarea::placeholder {
  color: #ABBBDB;
}

.submitBtn {
  border-radius: 10px;
  border: none;
  background-color: #5073B5;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  .textarea {
    border-color: #32476B;
    background-color: #1E293B;
    color: #E7EFFC;
  }

  .textarea::placeholder {
    color: #6CA9FF;
  }

  .submitButton {
    background-color: #29529D;
    color: #E7EFFC;
  }
}
