.item {
  padding: 8px 10px;
  border-bottom: 3px solid #ABBBDB;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile{
  height: 45px;
  width: 45px;
  border-radius: 45px;
  background-color: #D9D9D9;
}

.itemArea{
  display:flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.author {
  font-weight: 600;
  color: #2C56A6;
}

.Btns{
  display: flex;
  gap: 10px;
}

.actionBtn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  color: #5073B5;
}

.danger {
  color: #E05353;
}

.row2{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.content {
  font-size: 18px;
  font-weight: 700;
  color: #002E78;
}

.createdAt {
  color: #798DB4;
}



/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  .item {
    border-bottom: 3px solid #1B305B;
  }

  .profile{
    background-color: #5A5D70;
  }

  .author {
    color: #6CA9FF;
  }

  .actionBtn {
    color: #6CA9FF;
  }

  .danger {
    color: #D9534F;
  }

  .content {
    color: #ffffff;
  }

  .createdAt {
    color: #798DB4;
  }
}
